$size: 14px
$func: ease-in-out
$duration: 0.7s
$color: #fff

.loader
  position: relative
  font-size: $size
  width: 7em
  height: 3em
  border-radius: 1em
  margin: 1em

  p
    position: absolute
    top: 0.5em
    text-align: center
    width: 100%

  div
    position: absolute
    top: 1em
    width: 1em
    height: 1em
    background-color: $color
    border-radius: 50%

    &:nth-child(1)
      left: 1em
      animation: loader-scale $duration $func infinite

    &:nth-child(2)
      left: 1em
      animation: loader-slide $duration $func infinite

    &:nth-child(3)
      left: 3em
      animation: loader-slide $duration $func infinite

    &:nth-child(4)
      left: 5em
      animation: loader-unscale $duration $func infinite

@keyframes loader-scale
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes loader-slide
  0%
    transform: translateX(0)
  100%
    transform: translateX(2em)

@keyframes loader-unscale
  0%
    transform: scale(1)
  100%
    transform: scale(0)